// mixins

@mixin transparent_class06 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
}


// variables
$paletteColorWhite:#FFFFFF;
$paletteColorBlueDark:#011627;
$paletteColorGreenBlue:#2EC4B6;
$paletteColorLightBlue:#0496FF;
$paletteColorPinkBlue:#FF3366;
$paletteLightSilver: #f8f8f8;
$mainFontRoboto:'Roboto', sans-serif;



  body{ 
  		font-family:$mainFontRoboto;
  		color: #3c3e45;
  	}
ul li{
	list-style-type:none;
}

  @media only screen and (min-width:768px){

	body{
		/* padding para evitar solapamiento navbar top*/
		padding-top:84px;
	}

  }
  @media only screen and (max-width:768px){

	body{
		/* padding para evitar solapamiento navbar top*/
		padding-top:49px;
	}

  }

.colorWhite{ 
	color: $paletteColorWhite; 
}
.colorlightBLue{ 
	color: $paletteColorLightBlue;
}
.colorPinkBLue{ 
	color: $paletteColorPinkBlue; 
}
.colorlightBLue{ 
	color: $paletteColorLightBlue; 
}
.colorBLueDark{ 
	color: $paletteColorBlueDark; 
}
.mainContainerHome{
	padding-right: 0px!important;
    padding-left: 0px!important; 
}
.containerHome{
	color: #3c3e45;
}

#h1welcome{
	font-weight: 900;
    font-size: 100px;
}

.containerHome p{
  font-size: 22px;
}


/* Top navbar estilos*/
	
#navbar-1{
	padding:15px;
}

.navbar {
	border: 0px;
}

.navbar-brand{
	 font-weight: 900;
	 color:#ffffff!important;
	 background-color:#f3f3f3;

}
  @media only screen and (min-width:768px){
	.navbar-brand{
		 margin-top:17px; 
	}
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    text-transform: uppercase;

}

.navbar .navbar-nav li a{
	font-size:20px;
	color:#777;
}

 @media (min-width: 769px) and (max-width:990px) {
	.navbar .navbar-nav li a{
		font-size:16px;	color: red!important;
	}
}

.navbar .navbar-nav li a:hover{
	/*	color:$paletteColorLightBlue; */
	/*@include transparent_class06;*/
	color:#fff!important;
	background-color:$paletteColorLightBlue;

	-moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}

.navbar .navbar-collapse {
    text-align: center;
}
.activeBtn{
	border-bottom:solid 1px $paletteColorPinkBlue;
}

.topNavigationBar{
	background-color:$paletteLightSilver;
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
	box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.6);
}

/* Top navbar estilos*/


/* MainFooter estilos*/
.mainFooter {
	padding: 10px;
	background-color: #011627;
	text-align: center;
	color:#fff;
}

.mainFooter a{
	font-size:10px;
}
.mainFooter a:hover{
	@include transparent_class06;
}
/* MainFooter estilos*/
