/* line 29, styles.scss */
body {
  font-family: "Roboto", sans-serif;
  color: #3c3e45;
}

/* line 33, styles.scss */
ul li {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  /* line 39, styles.scss */
  body {
    /* padding para evitar solapamiento navbar top*/
    padding-top: 86px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 47, styles.scss */
  body {
    /* padding para evitar solapamiento navbar top*/
    padding-top: 49px;
  }
}
/* line 54, styles.scss */
.containerHome {
  color: #3c3e45;
}

/* line 58, styles.scss */
#h1welcome {
  font-size: 48px;
}

/* line 62, styles.scss */
.containerHome p {
  font-size: 22px;
}

/* Top navbar estilos*/
/* line 69, styles.scss */
#navbar-1 {
  padding: 15px;
}

/* line 73, styles.scss */
.navbar {
  border: 0px;
}

/* line 76, styles.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  text-transform: uppercase;
}

/* line 82, styles.scss */
.navbar .navbar-nav li a {
  font-size: 22px;
  color: #ffffff;
}

/* line 87, styles.scss */
.navbar .navbar-nav li a:hover {
  color: #ff3366;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
}

/* line 92, styles.scss */
.navbar .navbar-collapse {
  text-align: center;
}

/* line 96, styles.scss */
.topNavigationBar {
  background-color: #011627;
}

/* Top navbar estilos*/
/* MainFooter estilos*/
/* line 104, styles.scss */
.mainFooter {
  padding: 10px;
  background-color: #011627;
  text-align: center;
  color: #fff;
}

/* line 111, styles.scss */
.mainFooter a {
  font-size: 10px;
}

/* line 114, styles.scss */
.mainFooter a:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
}

/* MainFooter estilos*/
